<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head') %>

<body>

<%- include('../partials/header')%>


<style type="text/css">

    .admin_nav{
        margin-bottom: 20px;
    }

    /* CSS TABLA (inicio) ------------------- */
    .table {
        display: table;
        margin: auto;
    }

    .heading{
        display: table-row;
        font-weight: bold;
        text-align: center;
        background-color: aquamarine;
    }

    .row{
        display: table-row;
        
    }

    .cell{
        display: table-cell;
        border: solid;
        border-width: thin;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
    /* CSS TABLA (fin) ------------------- */

</style>

    <main >
    
        <h1>ADMIN / LISTAR</h1>

        <div class="admin_nav">
        <i class="fas fa-solid fa-list"></i><a href="/admin">Listar</a>
        <i class="fas fa-plus"></i><a href="/admin/create">Crear</a>
        </div>

        <!-- Tabla (inicio) -->
        <div class="table">

    
            <div class="heading">
                <div class="cell">
                    <i class="fas fa-edit"></i>
                </div>
                <div class="cell">
                    <p>ID</p>
                </div>
                <div class="cell">
                    <p>MARCA</p>
                </div>
                <div class="cell">
                    <p>NOMBRE</p>
                </div>
                <div class="cell">
                    <p>PRECIO</p>
                </div>
                <div class="cell">
                    <p>DTO</p>
                </div>
                <div class="cell">
                    <i class="fas fa-trash"></i>
                </div>
            </div>
    
            <div class="row">
                <div class="cell">
                    <a href="/admin/edit/6"><i class="fas fa-edit"></i></a> 
                </div>
                <div class="cell">
                    <p> 6</p>
                </div>
                <div class="cell">
                    <p>Puma</p>
                </div>
                <div class="cell">
                    <p>Mayze Leather S</p>
                </div>
                <div class="cell">
                    <p>19999</p>
                </div>
                <div class="cell">
                    <p>---</p>
                </div>
                <div class="cell">
                    <a href="/admin/delete/6"><i class="fas fa-trash"></i></i></a> 
                </div>
            </div>
    
            <div class="row">
                <div class="cell">
                    <a href="/admin/edit/7"><i class="fas fa-edit"></i></a> 
                </div>
                <div class="cell">
                    <p>7</p>
                </div>
                <div class="cell">
                    <p>Nike</p>
                </div>
                <div class="cell">
                    <p>Blazer Mid 77</p>
                </div>
                <div class="cell">
                    <p>26900</p>
                </div>
                <div class="cell">
                    <p>---</p>
                </div>
                <div class="cell">
                    <a href="/admin/delete/7"><i class="fas fa-trash"></i></i></a> 
                </div>
            </div>
    
        </div>
        <!-- Tabla (fin) -->
  

    </main>

    <%- include('../partials/footer')%>

</body>
</html>