<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head') %>

<body>

<%- include('../partials/header')%>




<style>

.admin_nav{
    margin-bottom: 20px;
}

form label {
    display: block;
    text-align: left;
}
</style>

    <main>

        <div class="formulario">

    
        <h1>ADMIN / CREAR</h1>

        <div class="admin_nav">
        <i class="fas fa-solid fa-list"></i><a href="/admin">Listar</a>
        <i class="fas fa-plus"></i><a href="/admin/create">Crear</a>
        </div>



        <form action="/admin/create" method="POST" >
    
            
            <label for="codigo">Código</label>
            <input type="text" name="codigo" id="codigo" >

            <label for="marca">Marca</label>
            <input type="text" name="marca" id="marca">

            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre">

            <label for="precio">Precio</label>
            <input type="number" name="precio" id="precio">

            <label for="descuento">Descuento</label>
            <input type="number" name="descuento" id="descuento">

            <label for="fechadecarga">Fecha de Carga</label>
            <input type="date" name="fechadecarga" id="fechadecarga" min="2020-01-01">

            <label for="descripcion">Descripción</label>
            <textarea name="descripcion" id="descripcion"></textarea>
            
            <!-- este se envia oculto -->
            <input type="hidden" name="categoria" id="categoria"  value="zapatillas" >

            <label for="genero">Genero</label>
            <select id="genero" name="genero">
                <option value="">Seleccione...</option>
                <option value="femenino">Femenino</option>
                <option value="masculino">Masculino</option>
                <option value="unisex">Unisex</option>
            </select>

            <label for="origen">Origen</label>
            <select id="origen" name="origen">
                <option value="nacional">Nacional</option>
                <option value="importado">Importado</option>
            </select>


            <input type="submit" value="INSERTAR">

        </form>
      
    </div>
    <!--FIN FORMULARIO DE CREACIÓN-->          

    </main>

    <%- include('../partials/footer')%>

</body>
</html>