<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>
    
<body>
    <%- include('../partials/header')%>
    
    <main>

        <h1>ADMIN / EDICION</h1>
    <!-- 
    ACA colocamos copia del 'create'    
    -->

    </main>


    <%- include('../partials/footer')%>

</body>


</html>