<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head') %>

<body>

<%- include('../partials/header')%>




<style>

.admin_nav{
    margin-bottom: 20px;
}

form label {
    display: block;
    text-align: left;
}
</style>

    <main>

        <div class="formulario">

    
        <h1>ADMIN / CREAR</h1>

        <div class="admin_nav">
        <i class="fas fa-solid fa-list"></i><a href="/admin">Listar</a>
        <i class="fas fa-plus"></i><a href="/admin/create">Crear</a>
        </div>


        <div class="formulario">

        <!-- "enctype" es indispensable para subir imagenes -->
        <form action="/admin/create" method="POST" enctype="multipart/form-data">
    
            

            <label for="marca">Marca</label>
            <select id="marca" name="marca">
                <option value="">Seleccione...</option>
                <option value="adidas">Adidas</option>
                <option value="converse">Converse</option>
                <option value="nike">Nike</option>
                <option value="puma">Puma</option>
                <option value="reebok">Reebok</option>
                <option value="topper">Topper</option>
                <option value="vans">Vans</option>             
            </select>

            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre">

            <label for="precio">Precio</label>
            <input type="number" name="precio" id="precio">

            <label for="descuento">Descuento</label>
            <input type="number" name="descuento" id="descuento" minlength="0" maxlength="90" >

            <label for="descripcion">Descripción</label>
            <textarea name="descripcion" id="descripcion"></textarea>
            
            <label for="image">Imagen</label>
            <input type="file" id="image" name="image" accept=".png, .jpg, .jpeg">

            <!-- este se podria enviar oculto, pero lo insertamos desde el controlador
            <input type="hidden" name="categoria" id="categoria"  value="zapatillas" >
            -->

            <label for="genero">Genero</label>
            <select id="genero" name="genero">
                <option value="">Seleccione...</option>
                <option value="femenino">Femenino</option>
                <option value="masculino">Masculino</option>
                <option value="unisex">Unisex</option>
            </select>

            <label for="origen">Origen</label>
            <select id="origen" name="origen">
                <option value="">Seleccione...</option>
                <option value="nacional">Nacional</option>
                <option value="importado">Importado</option>
            </select>

            <label for="nro_serie">Numero de Serie</label>
            <input type="text" name="nro_serie" id="nro_serie" >

            <label for="observaciones">Observaciones</label>
            <textarea name="observaciones" id="observaciones"></textarea>

            <% 
            // JS ponemos la fecha del dia
            // https://stackoverflow.com/questions/1531093/how-do-i-get-the-current-date-in-javascript
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();

            today = yyyy + '-' + mm + '-' + dd ;
            // ------------------------------------
            %>
            <label for="fecha_creado">Fecha de Carga</label>
            <input type="date" name="fecha_creado" id="fecha_creado" min="2020-01-01" value="<%= today %>">

            <input type="submit" value="INSERTAR">

        </form>
      
        </div>

    </div>
    <!--FIN FORMULARIO DE CREACIÓN-->          

    </main>

    <%- include('../partials/footer')%>

</body>
</html>