<footer>

    <div class="footer_iconoscontenedor">
        <div><a href="/puma"><i class="fab fa-facebook-square"></i></a></div>
        <div><a href="/puma"><i class="fab fa-twitter"></i></a></div>
        <div><a href="/puma"><i class="fab fa-instagram"></i></a></div>
        <div><a href="/puma"><i class="fab fa-youtube"></i></a></div>
    </div>

    

    <!-- Linea -->
    <hr>

    <div>
    <p>© MOVE Todos los derechos reservados, 2022</p>
    </div>

</footer>