<header>

    <div class="mainheader" >
        <div class="mainheader_left" >
            <!-- Logo -->
            <a href="/">
                <img src="/images/move.png"  alt="logo-move" class="logo">
            </a>
            <!-- 'nav' está destinado sólo para el bloque principal de enlaces de navegación -->
            <nav>
                <ul>
                    <li><a href="/zapatillas">Todas</a></li>
                    <li><a href="/zapatillas/mujeres">Mujeres</a></li>
                    <li><a href="/zapatillas/hombres">Hombres</a></li>
                    <li><a href="/zapatillas/unisex">Unisex</a></li>
                    <li><a href="/admin" style="color: yellow;">(Admin)</a></li>
                </ul>
            </nav>
        </div>
    
        <div class="mainheader_right" >

            <!-- Buscador -->
            <form  action="/search" method="GET" >
                <button type="submit" class="buscador_lupa">
                    <i class="fas fa-search"></i>
                </button> 
                <!-- el sig name se usa para el controlador del buscador -->
                <input type="text" name="keywords">
            </form>

            <!-- Iconos -->
            <div class="iconos">
            <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
            <a href="/login"><i class="fas fa-user"></i></a>
            <a href="#"><i class="fas fa-bars"></i></a>
            </div>
        </div>
    
    </div>
        
    </header>