<header>

    <div class="mainheader" >
        <div class="mainheader_left" >
            <!-- Logo -->
            <a href="/">
                <img src="images/move.png"  alt="logo-move" class="logo">
            </a>
            <!-- 'nav' est치 destinado s칩lo para el bloque principal de enlaces de navegaci칩n -->
            <nav>
                <ul>
                    <li><a href="/">Mujeres</a></li>
                    <li><a href="/">Hombres</a></li>
                    <li><a href="/">Ni침os</a></li>
                    <li><a href="/admin">Admin</a></li>
                </ul>
            </nav>
        </div>
    
        <div class="mainheader_right" >
            <!-- Buscador -->
            <form  action="/" method="GET" >
                <button type="submit">
                    <i class="fas fa-search"></i>
                </button> 
                <input type="search" >
            </form>
    
            <!-- Iconos -->
            <div class="iconos">
            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
            <a href="/login"><i class="fas fa-user"></i></a>
            <a href=""><i class="fas fa-bars"></i></a>
            </div>
        </div>
    
    </div>
        
    </header>