<div class="recomendados">
    <a href="/zapatillas/1">
        <div class="imagen_texto">
            <div class="imagen">
                <img src="/images/aviator.png" alt="Zapatillas Electrify Nitro Turn"><i class="fas fa-heart"></i>
            </div>
            <hr>
            <div class="texto">Zapatillas Electrify Nitro Turn<br><br><h4>$19.999</h4> </div>
        </div>
    </a>
    <a href="/zapatillas/2">
        <div class="imagen_texto">
            <div class="imagen">
                <img src="/images/electrify.png" alt="Zapatillas Aviator"><i class="fas fa-heart"></i>
            </div>
            <hr>
            <div class="texto">Zapatillas Aviator <br><br><h4>$16.499</h4> </div>
        </div>
    </a>
    <a href="/zapatillas/3">
        <div class="imagen_texto">
            <div class="imagen">
                <img src="/images/suede.png" alt="Zapatillas Wild Rider Vintage"><i class="fas fa-heart"></i>
            </div>
            <hr>
            <div class="texto">Zapatillas Wild Rider Vintage <br><br><h4>$18.699</h4> </div>
        </div>
    </a>
    <a href="/zapatillas/4">
        <div class="imagen_texto">
            <div class="imagen">
                <img src="/images/wildrider.png" alt="Zapatillas Suede Classic XXI"><i class="fas fa-heart"></i>
            </div>
            <hr>
            <div class="texto">Zapatillas Suede Classic XXI <br><br><h4>$14.999</h4> </div>
        </div> 
    </a>
</div>