<div class="recomendados">
    <a href="/zapatillas/id/1">
    <div class="imagen_texto">
        <div class="imagen">
            <img src="/images/products/zapatillas_puma_SuedeClassicXXI.jpg" alt="Suede Classic XXI"><i class="fas fa-heart"></i>
        </div>
        <hr>
        <div class="texto">Suede Classic XXI<br><br><h4>$14.999</h4> </div>
    </div>
    </a>
    <a href="/zapatillas/id/2">
        <div class="imagen_texto">
            <div class="imagen">
                <img src="/images/products/zapatillas_adidas_ForumMid.jpg" alt="Forum Mid"><i class="fas fa-heart"></i>
            </div>
            <hr>
            <div class="texto">Forum Mid<br><br><h4>$14.999</h4> </div>
        </div>
    </a>
    <a href="/zapatillas/id/3">
        <div class="imagen_texto">
            <div class="imagen">
                <img src="/images/products/zapatillas_adidas_Multix.jpg" alt="Multix"><i class="fas fa-heart"></i>
            </div>
            <hr>
            <div class="texto">Multix<br><br><h4>$14.999</h4> </div>
        </div>
    </a>
    <a href="/zapatillas/id/4">
        <div class="imagen_texto">
            <div class="imagen">
                <img src="/images/products/zapatillas_nike_BlazerLow77Suede.jpg" alt="Blazer Low 77 Suede"><i class="fas fa-heart"></i>
            </div>
            <hr>
            <div class="texto">Blazer Low 77 Suede<br><br><h4>$14.999</h4> </div>
        </div> 
    </a>
</div>