<!DOCTYPE html>
<html lang="es">
<!-- --------------------------------------------- -->
<!-- HEAD (inicio) -->
<%- include('./partials/head') %>

<!-- HEAD (fin) -->
<!-- --------------------------------------------- -->

<!-- --------------------------------------------- -->

<body>

    <%- include('./partials/header')%>


    

<div id="caja-forgetpw">
    <h1>¿Olvidaste tu contraseña?</h1>
    <p id="indicaciones-forgetpw">Escribí tu email y recibirás un enlace para 
    restablecerla.</p>

    <!--form para recordar contraseña-->
    <!--falta poner el hipervinculo para hacer esto-->
    <form action="" method="POST">
    <input class="cajitafpw" type="email"/>
    </form>

    <!--boton iniciar sesión-->
    <div>
    <button class="b-enviarcor"><label class="t-enviarcor">ENVIAR</label></button>
    </div>

</div>

<%- include('./partials/footer')%>
<!-- BODY / FOOTER (fin) -->
<!-- --------------------------------------------- -->

</body>
</html>
    

