<!DOCTYPE html>
<html lang="es">
<!-- --------------------------------------------- -->
<!-- HEAD (inicio) -->
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Move - Las mejores zapatillas!</title>

<!-- CSS NORMALIZE -->
<!-- https://necolas.github.io/normalize.css/
Muy importante colocar la referencia a este fichero antes que cualquier otro estilo. -->
<link href="styles-home.css" rel="stylesheet">

<!-- ICONOS -->
<!-- Se buscan desde aqui...
https://fontawesome.com/v5/search?s=solid%2Cbrands 
-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

<!-- ESTILOS PROPIOS -->
<link href="css/styles-header.css" rel="stylesheet">
<link href="css/styles-productDetail.css" rel="stylesheet">
<link href="css/styles-footer.css" rel="stylesheet">
<link href="css/styles-home.css" rel="stylesheet">

</head>
<!-- HEAD (fin) -->
<!-- --------------------------------------------- -->

<!-- --------------------------------------------- -->
<!-- BODY (inicio) -->
<body>

<!-- --------------------------------------------- -->
<!-- BODY / HEADER (inicio) -->
<header>

<div class="mainheader" >

    <div class="mainheader_left" >

        <!-- Logo -->
        <a href="/">
            <img src="images/move.png"  alt="logo-move" class="logo">
        </a>
        
        <!-- 'nav' está destinado sólo para el bloque principal de enlaces de navegación -->
        <nav>
            <ul>
                <li><a href="/">Mujeres</a></li>
                <li><a href="/">Hombres</a></li>
                <li><a href="/">Niños</a></li>
            </ul>
        </nav>

    </div>

    <div class="mainheader_right" >
    
        <!-- Buscador -->
        <form  action="/" method="GET" >
            <button type="submit">
                <i class="fas fa-search"></i>
            </button> 
            <input type="search" >
        </form>

        <!-- Iconos -->
        <div class="iconos">
        <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
        <a href="/login"><i class="fas fa-user"></i></a>
        <a href=""><i class="fas fa-bars"></i></a>
        </div>
    </div>

</div>
    
</header>
<!-- BODY / HEADER (fin) -->
<!-- --------------------------------------------- -->


<!-- --------------------------------------------- -->
<!-- BODY / MAIN (inicio) -->
<main> 
<div>
        <img src="images/banner.jpg" alt="banner" height="100%" width="100%">
</div>
<br>
<div>
    <h1>NAVEGÁ POR MARCAS</h1>
    
    <div class="contenedor-productos">
        <article class="producto">
            <img src="/images/newbalance.png" alt="Newbalance" width="100%" >
            <hr class="colorhr">
             <article class="detalleprod">   
            <p class="descripcion">Lo nuevo de Newbalance</p>
            <hr class="colorhr">
            </article>
        </article>
        <article class="producto">
            <img src="/images/puma.png" alt="puma" width="100%"> 
            <hr class="colorhr" > 
            <article class="detalleprod">
            <p class="descripcion">Lo nuevo de Puma</p> 
            <hr class="colorhr">
            </article>  
            </article>
        <article class="producto">
            <img src="/images/converse.png" alt="converse" width="100%">
            <hr class="colorhr">
            <article class="detalleprod">
                <p class="descripcion">Lo nuevo de Converse</p> 
                <hr class="colorhr">
            </article>
        </article>
        <article class="producto">
            <img src="/images/nike.png" alt="nike" width="100%">
            <hr class="colorhr">
            <article class="detalleprod">
                <p class="descripcion">Lo nuevo de Nike</p>
                <hr class="colorhr">
            </article>  
        </article>
    </div>
</section>      
    <!-- recordatorio poner linea degrade color-->
<section>
<h2>MAS RECIENTES</h2>
<div class="recomendados">
    <div class="imagen_texto">
        <div class="imagen">
            <img src="images/aviator.png" alt="Zapatillas Electrify Nitro Turn"><i class="fas fa-heart"></i>
        </div>
        <hr>
        <div class="texto">Zapatillas Electrify Nitro Turn<br><br><h4>$19.999</h4> </div>
    </div>
    <div class="imagen_texto">
        <div class="imagen">
            <img src="images/electrify.png" alt="Zapatillas Aviator"><i class="fas fa-heart"></i>
        </div>
        <hr>
        <div class="texto">Zapatillas Aviator <br><br><h4>$16.499</h4> </div>
    </div>
    <div class="imagen_texto">
        <div class="imagen">
            <img src="images/suede.png" alt="Zapatillas Wild Rider Vintage"><i class="fas fa-heart"></i>
        </div>
        <hr>
        <div class="texto">Zapatillas Wild Rider Vintage <br><br><h4>$18.699</h4> </div>
    </div>
    <div class="imagen_texto">
        <div class="imagen">
            <img src="images/wildrider.png" alt="Zapatillas Suede Classic XXI"><i class="fas fa-heart"></i>
        </div>
        <hr>
        <div class="texto">Zapatillas Suede Classic XXI <br><br><h4>$14.999</h4> </div>
    </div> 
</div>
</section>
<!-- recordatorio falta botones-->
<section>
    <h2>Listos Para EL Frio!</h2>
    <div>
        <img src="images/holiday.jpg" alt="banner" height="100%" width="100%">
    </div> 
    <hr class="colorhr">
    <div class="recomendados">
        <div class="imagen_texto">
            <div class="imagen">
                <img src="images/buso.png" alt="buso"><i class="fas fa-heart"></i>
            </div>
            <hr>
            <div class="texto">Buso CLSX deportivo<br><br><h4>$9.999</h4> </div>
        </div>
        <div class="imagen_texto">
            <div class="imagen">
                <img src="images/PantalonesT7 Rectos.webp" alt="Pantalones T7 Rectos"><i class="fas fa-heart"></i>
            </div>
            <hr>
            <div class="texto">PantalonesT7 Rectos<br><br><h4>$6.499</h4> </div>
        </div>
        <div class="imagen_texto">
            <div class="imagen">
                <img src="images/Buzo oversize para mujer Classics.png" alt="Buzo oversize para mujer Classics"><i class="fas fa-heart"></i>
            </div>
            <hr>
            <div class="texto">Buzo oversize para mujer Classics <br><br><h4>$8.699</h4> </div>
        </div>
        <div class="imagen_texto">
            <div class="imagen">
                <img src="images/Buzo CLSX con capucha.png" alt="Buzo CLSX"><i class="fas fa-heart"></i>
            </div>
            <hr>
            <div class="texto">Buzo CLSX con capucha<br><br><h4>$8.000</h4> </div>
        </div> 
    </div>
</section>


<section>
    <h2>MAS VENDIDOS</h2>
    <div class="recomendados">
        <div class="imagen_texto">
            <div class="imagen">
                <img src="images/aviator.png" alt="Zapatillas Electrify Nitro Turn"><i class="fas fa-heart"></i>
            </div>
            <hr>
            <div class="texto">Zapatillas Electrify Nitro Turn<br><br><h4>$19.999</h4> </div>
        </div>
        <div class="imagen_texto">
            <div class="imagen">
                <img src="images/electrify.png" alt="Zapatillas Aviator"><i class="fas fa-heart"></i>
            </div>
            <hr>
            <div class="texto">Zapatillas Aviator <br><br><h4>$16.499</h4> </div>
        </div>
        <div class="imagen_texto">
            <div class="imagen">
                <img src="images/suede.png" alt="Zapatillas Wild Rider Vintage"><i class="fas fa-heart"></i>
            </div>
            <hr>
            <div class="texto">Zapatillas Wild Rider Vintage <br><br><h4>$18.699</h4> </div>
        </div>
        <div class="imagen_texto">
            <div class="imagen">
                <img src="images/wildrider.png" alt="Zapatillas Suede Classic XXI"><i class="fas fa-heart"></i>
            </div>
            <hr>
            <div class="texto">Zapatillas Suede Classic XXI <br><br><h4>$14.999</h4> </div>
        </div> 
    </div>
    </section>
        <h2>RECOMENDADOS PARA VOS</h2>
        <div class="recomendados">
            <div class="imagen_texto">
                <div class="imagen">
                    <img src="images/aviator.png" alt="Zapatillas Electrify Nitro Turn"><i class="fas fa-heart"></i>
                </div>
                <hr>
                <div class="texto">Zapatillas Electrify Nitro Turn<br><br><h4>$19.999</h4> </div>
            </div>
            <div class="imagen_texto">
                <div class="imagen">
                    <img src="images/electrify.png" alt="Zapatillas Aviator"><i class="fas fa-heart"></i>
                </div>
                <hr>
                <div class="texto">Zapatillas Aviator <br><br><h4>$16.499</h4> </div>
            </div>
            <div class="imagen_texto">
                <div class="imagen">
                    <img src="images/suede.png" alt="Zapatillas Wild Rider Vintage"><i class="fas fa-heart"></i>
                </div>
                <hr>
                <div class="texto">Zapatillas Wild Rider Vintage <br><br><h4>$18.699</h4> </div>
            </div>
            <div class="imagen_texto">
                <div class="imagen">
                    <img src="images/wildrider.png" alt="Zapatillas Suede Classic XXI"><i class="fas fa-heart"></i>
                </div>
                <hr>
                <div class="texto">Zapatillas Suede Classic XXI <br><br><h4>$14.999</h4> </div>
            </div> 
        </div>
       
        </section>    

</main>
<!-- BODY / MAIN (fin) -->
<!-- --------------------------------------------- -->


<!-- --------------------------------------------- -->
<!-- BODY / FOOTER (inicio) -->
<footer>

    <div class="footer_iconoscontenedor">
        <div><a href="/puma"><i class="fab fa-facebook-square"></i></a></div>
        <div><a href="/puma"><i class="fab fa-twitter"></i></a></div>
        <div><a href="/puma"><i class="fab fa-instagram"></i></a></div>
        <div><a href="/puma"><i class="fab fa-youtube"></i></a></div>
    </div>

    

    <!-- Linea -->
    <hr>

    <div>
    <p>© MOVE Todos los derechos reservados, 2022</p>
    </div>

</footer>
<!-- BODY / FOOTER (fin) -->
<!-- --------------------------------------------- -->

</body>
</html>