<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %>

<body>

    <%- include('./partials/header')%>

    <main> 
        <div  class="video" style="width: 100%; height: 100%;"> 
            <video width="1500" height="850" controls  autoplay muted>  
              <source src="/videos/lalipuma.mp4" type="video/mp4" >
            </video>     
      </div>
      <hr> 
      <br>
    <br>
    <div>
        <h1>NAVEGÁ POR MARCAS</h1>
        <div class="contenedor-productos">
            <article class="producto">
                <a href="New">
                <img src="/images/newbalance.png" alt="Newbalance" width="100%" class="imagenmove"></a>
                </article>
    
        
            <article class="producto">
                <a href="puma">
                <img src="/images/puma.png" alt="puma" width="100%" class="imagenmove"></a> 
                </article>  
        
                
                
            <article class="producto">
                <a href="convers">
                <img src="/images/converse.png" alt="converse" width="100%" class="imagenmove"></a>
                
                </article>
            
            
            
            <article class="producto">
                <a href="nike">
                <img src="/images/nike.png" alt="nike" width="100%" class="imagenmove"></a>
            
            </article>
        </div>
        
    </section>      
    <div class="degrade" ></div>
    <section>
    <h2>MAS RECIENTES</h2>
    <div class="recomendados">
        <a href="/productDetail">
            <div class="imagen_texto">
                <div class="imagen">
                    <img src="images/aviator.png" alt="Zapatillas Electrify Nitro Turn"><i class="fas fa-heart"></i>
                </div>
                <hr>
                <div class="texto">Zapatillas Electrify Nitro Turn<br><br><h4>$19.999</h4> </div>
            </div>
        </a>
        <a href="/productDetail">
            <div class="imagen_texto">
                <div class="imagen">
                    <img src="images/electrify.png" alt="Zapatillas Aviator"><i class="fas fa-heart"></i>
                </div>
                <hr>
                <div class="texto">Zapatillas Aviator <br><br><h4>$16.499</h4> </div>
            </div>
        </a>
        <a href="/productDetail">
            <div class="imagen_texto">
                <div class="imagen">
                    <img src="images/suede.png" alt="Zapatillas Wild Rider Vintage"><i class="fas fa-heart"></i>
                </div>
                <hr>
                <div class="texto">Zapatillas Wild Rider Vintage <br><br><h4>$18.699</h4> </div>
            </div>
        </a>
        <a href="/productDetail">
            <div class="imagen_texto">
                <div class="imagen">
                    <img src="images/wildrider.png" alt="Zapatillas Suede Classic XXI"><i class="fas fa-heart"></i>
                </div>
                <hr>
                <div class="texto">Zapatillas Suede Classic XXI <br><br><h4>$14.999</h4> </div>
            </div> 
        </a>
    </div>
    </section>
    <div class="degrade" ></div>
    <section>
        <h2>MAS VENDIDOS</h2>
        <div class="recomendados">
            <div class="imagen_texto">
                <div class="imagen">
                    <img src="images/aviator.png" alt="Zapatillas Electrify Nitro Turn"><i class="fas fa-heart"></i>
                </div>
                <hr>
                <div class="texto">Zapatillas Electrify Nitro Turn<br><br><h4>$19.999</h4> </div>
            </div>
            <div class="imagen_texto">
                <div class="imagen">
                    <img src="images/electrify.png" alt="Zapatillas Aviator"><i class="fas fa-heart"></i>
                </div>
                <hr>
                <div class="texto">Zapatillas Aviator <br><br><h4>$16.499</h4> </div>
            </div>
            <div class="imagen_texto">
                <div class="imagen">
                    <img src="images/suede.png" alt="Zapatillas Wild Rider Vintage"><i class="fas fa-heart"></i>
                </div>
                <hr>
                <div class="texto">Zapatillas Wild Rider Vintage <br><br><h4>$18.699</h4> </div>
            </div>
            <div class="imagen_texto">
                <div class="imagen">
                    <img src="images/wildrider.png" alt="Zapatillas Suede Classic XXI"><i class="fas fa-heart"></i>
                </div>
                <hr>
                <div class="texto">Zapatillas Suede Classic XXI <br><br><h4>$14.999</h4> </div>
            </div> 
        </div>
        <section>
            <div class="degrade" ></div>
        </section>
        </section>
            <h2>RECOMENDADOS PARA VOS</h2>
            <div class="recomendados">
                <div class="imagen_texto">
                    <div class="imagen">
                        <img src="images/aviator.png" alt="Zapatillas Electrify Nitro Turn"><i class="fas fa-heart"></i>
                    </div>
                    <hr>
                    <div class="texto">Zapatillas Electrify Nitro Turn<br><br><h4>$19.999</h4> </div>
                </div>
                <div class="imagen_texto">
                    <div class="imagen">
                        <img src="images/electrify.png" alt="Zapatillas Aviator"><i class="fas fa-heart"></i>
                    </div>
                    <hr>
                    <div class="texto">Zapatillas Aviator <br><br><h4>$16.499</h4> </div>
                </div>
                <div class="imagen_texto">
                    <div class="imagen">
                        <img src="images/suede.png" alt="Zapatillas Wild Rider Vintage"><i class="fas fa-heart"></i>
                    </div>
                    <hr>
                    <div class="texto">Zapatillas Wild Rider Vintage <br><br><h4>$18.699</h4> </div>
                </div>
                <div class="imagen_texto">
                    <div class="imagen">
                        <img src="images/wildrider.png" alt="Zapatillas Suede Classic XXI"><i class="fas fa-heart"></i>
                    </div>
                    <hr>
                    <div class="texto">Zapatillas Suede Classic XXI <br><br><h4>$14.999</h4> </div>
                </div> 
            </div>
        
            </section>    

            <div class="degrade"></div>

    </main>

    <%- include('./partials/footer')%>

</body>
</html>