<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Move login</title>
    <h3>Move Faster</h3>
	<link rel="stylesheet" href="style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>

<body>
    
    <main>
        <h2>Login</h2>

	<form action="/login" method="POST">
		<label for="login">Ingrese su correo</label><br>
        <input type="email" value="Email"/><br><br>

        <label for="contraseña">Contraseña</label><br>
        <input type="password" value="password"/><br><br>

        <label for="mostrarPw">Mostrar contraseña</label>
        <i class="fas fa-eye"></i><br><br>
        <button type="submit" value="checked">Ingresar</button><br><br>
       
         <a href="/reset_password.html">Olvidé mi contraseña</a><br><br>

        
        <i class="fas fa-question-circle"></i>
            <select name="problema" id="problema">
        <option value="1">Contactar con un asesor</option>
        <option value="2">Volver al inicio</option>
        </select>
    </form> 
            
    </main>
</body>
</html>
    
