<!DOCTYPE html>
<html lang="es">
<!-- --------------------------------------------- -->
<!-- HEAD (inicio) -->
<%- include('./partials/head') %>

<!-- HEAD (fin) -->
<!-- --------------------------------------------- -->

<!-- --------------------------------------------- -->

<body>

    <%- include('./partials/header')%>


<!--lOGIN-->
<main class="mainLogin">
    
    
    <h1>Iniciar Sesión</h1>
    

    
    <div class="login_register" >
        <div class='inline'><div> <a href="login">Iniciar Sesión</a> </div></div>
        <div class='inline'><div> <a href="register">Registrarme</a> </div></div>
    </div>


    <!--email-->
<div class="todo">


    <form action="/users/login" method="POST">

    <div class="emailycontra">
        <label for="email"><span class="asterisco">* </span>Email</label>
    </div>
    <input type="email" id="email" name="email" value="" class="cajita"/>
    <% if (locals.errors && errors.email) { %>
        <div style="color: red"> 
        <%= errors.email.msg%>
        </div>
      <% } %>
    <!--contraseña-->
    <div class="emailycontra">
        <label for="password"><span class="asterisco">* </span>Contraseña</label>
    </div>
    <input type="password" id="password" name="password"  value="" minlength="8"class="cajita"/>
    <!-- 
    <button class="botonojo"><i class="ojo fas fa-eye" ></i></button>
     -->
    
    <div class="recordar">

        <div class="izq">
            <label for="recordarme">
            <input type="checkbox" name="recordarme" id="recordarme" value="si"/>
            Recordarme
            </label>
        </div>
    
        <div class="der">
            <a  href="/forgetpw">¿Olvidaste tu contraseña?</a>
        </div>

    </div>


    <!--boton iniciar sesión-->
    <button type="submit" class="boton-inicio"  >INICIAR SESIÓN</button>

    </form>


    
</div>


<%- include('./partials/footer')%>
<!-- BODY / FOOTER (fin) -->
<!-- --------------------------------------------- -->

</main>
   
</body>
</html>
    

