<!DOCTYPE html>
<html lang="es">
<!-- --------------------------------------------- -->
<!-- HEAD (inicio) -->
<%- include('./partials/head') %>

<!-- HEAD (fin) -->
<!-- --------------------------------------------- -->

<!-- --------------------------------------------- -->

<body>

    <%- include('./partials/header')%>


<!--login-->

    <div class="firstis">
        <h1>Iniciar Sesión</h1>
    </div>


    <!--email-->
    <div class="todo">
    <form action="/login" method="POST">
    <div class="emailycontra">
    <label class="asterisco">*</label>
    <label>Email</label>
    </div>
    <input type="email" value=""/>
    

    
    <!--contraseña-->
    <div class="emailycontra">
    <label class="asterisco">*</label>
	<label>Contraseña</label>
    </div>
    <input type="email" value="" minlength="8"/>
    <button><i class="ojo fas fa-eye" ></i></button>
    
    
     <div class="checkbox">
    <input type="checkbox"name="Recordarme"/>
    <label>Recordarme</label>
     </div>

    </form>

     <!--hipervinculo olvida contraseña-->
    <div class="olvidastecontra">
    <!--hipervinculo-->
     <a href="/forgetpw">¿Olvidaste tu contraseña?</a>
    </div>

    <!--boton iniciar sesión-->
    <div>
    <button type="button" class="boton-inicio" >
        <a href="/" class="texto-boton"><label>INICIAR SESIÓN</label></a> <!--PARA VOLVER AL HOME-->
    </button>
    </div>
</div>


<%- include('./partials/footer')%>
<!-- BODY / FOOTER (fin) -->
<!-- --------------------------------------------- -->

</body>
</html>
    

