<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %>

<body>

<%- include('./partials/header')%>

    <main>

        <div class="zapatillas">

            <div class="zapatillas_izq">
                <img src="images/suede.png" alt="Zapatillas Wild Rider Vintage">

                <div class="imagenes_galeria">
                    <img src="images/suede.png" alt="Zapatillas Wild Rider Vintage">
                    <img src="images/suede.png" alt="Zapatillas Wild Rider Vintage">
                    <img src="images/suede.png" alt="Zapatillas Wild Rider Vintage">
                    <img src="images/suede.png" alt="Zapatillas Wild Rider Vintage">
                </div>
            </div>

            <div class="zapatillas_der">
                <!-- titulo -->
                <h1>Zapatillas Wild Rider Vintage</h1>
                <!-- precio -->
                <h2>$ 14.999</h2>
                <!-- cuotas -->
                <div class="detalles_zapatillas">
                    <i class="fas fa-credit-card"></i>
                    6 CUOTAS SIN INTERES DE <span class="info_negrita">$ 2.499,83</span> 
                </div>
                <!-- envio -->
                <div class="detalles_zapatillas">
                    <i class="fas fa-truck"></i>
                    RECIBÍ TU COMPRA ENTRE EL <span class="info_negrita">23 / 26</span> 
                </div>
                <!-- stock -->
                <div class="detalles_zapatillas_alerta">
                    <i class="fas fa-exclamation-triangle"></i>
                ¡Solo quedan 3 en stock!
                </div>
                <!-- talles -->
                <br> 
                <span class="info_negrita">Talles:</span>
                <div class="talles">
                
                    <div class="circulo_talles">37</div>
                    <div class="circulo_talles">39</div>
                    <div class="circulo_talles">44</div>
                </div>
                
                <div class="boton_alcarrito">AÑADIR AL CARRITO</div>
                
            </div>

        </div>
        

        <!-- INFORMACION -->
        <h2>+ Información</h2>
        <div class="informacion">
            <p>
                <span class="info_negrita">Descripcion:</span>
            Estas zapatillas Vans Old Skool son las originales y las ponemos de nuevo en tus pies. Cubiertas con materiales resistentes de lona y gamuza, podrás ir a la par de esos momentos de diversión de la vieja escuela sin preocuparte por el desgaste.
            </p>
            <ul>
                <li><span class="info_negrita">Genero:</span> Mujer</li>
                <li><span class="info_negrita">Adecuado para:</span> Todo el dia</li>
                <li><span class="info_negrita">Caña:</span> Baja</li>
                <li><span class="info_negrita">Ajuste:</span> Con cordones</li>
                <li><span class="info_negrita">Origen:</span> Nacional</li>
                <li><span class="info_negrita">Marca:</span> Puma</li>
                <li><span class="info_negrita">Material:</span> Cuero</li>
            </ul>
        
        </div>
        
        
        <h2>Recomendados para vos</h2>
        <div class="recomendados">
                
            <div class="imagen_texto">
                <div class="imagen">
                    <img src="images/aviator.png" alt="Zapatillas Electrify Nitro Turn"><i class="fas fa-heart"></i>
                </div>
                <hr>
                <div class="texto">Zapatillas Electrify Nitro Turn<br><br><h4>$19.999</h4> </div>
            </div>
        
            <div class="imagen_texto">
                <div class="imagen">
                    <img src="images/electrify.png" alt="Zapatillas Aviator"><i class="fas fa-heart"></i>
                </div>
                <hr>
                <div class="texto">Zapatillas Aviator <br><br><h4>$16.499</h4> </div>
            </div>
        
            <div class="imagen_texto">
                <div class="imagen">
                    <img src="images/suede.png" alt="Zapatillas Wild Rider Vintage"><i class="fas fa-heart"></i>
                </div>
                <hr>
                <div class="texto">Zapatillas Wild Rider Vintage <br><br><h4>$18.699</h4> </div>
            </div>
        
            <div class="imagen_texto">
                <div class="imagen">
                    <img src="images/wildrider.png" alt="Zapatillas Suede Classic XXI"><i class="fas fa-heart"></i>
                </div>
                <hr>
                <div class="texto">Zapatillas Suede Classic XXI <br><br><h4>$14.999</h4> </div>
            </div>
        
            
        </div>
        

    </main>

    <%- include('./partials/footer')%>

</body>
</html>