<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>

    <%- include('./partials/header')%>

    <main>
    <!-- **************************************** -->
    <style>
        .contInfoResumen{
            display: flex;
            flex-wrap: wrap;
            background-color: aqua;
            max-width: 1200px;
            margin: auto;
            margin-top: 30px;
            justify-content: space-between;
        }

        .derResumen{
            display: flex;
            flex-direction: column;
        }
    </style>
    <!-- **************************************** -->

    <div class="contInfoResumen">

        <div class="izqInfo">
            Izquierda
        </div>

        <div class="derResumen">
            Derecha
            <div>RESUMEN DEL PEDIDO</div>
            <div>Subtotal</div>
            <div>$16.999,00</div>
            <div>$16.999,00</div>
            <div>COMPRAR</div>
            <div>SEGUIR VIENDO</div>

        </div>

    </div>


    <!-- **************************************** -->
    </main>

    <%- include('./partials/footer')%>

</body>
</html>