<!DOCTYPE html>
<html lang="es">
<!-- --------------------------------------------- -->
<!-- HEAD (inicio) -->
<%- include('./partials/head') %>

<!-- HEAD (fin) -->
<!-- --------------------------------------------- -->

<!-- --------------------------------------------- -->

<body>

    <%- include('./partials/header')%>


<!--lOGIN-->
<main >
    
    
    <h1>Favoritas</h1>
    
Aun no tenes zapatillas favoritas!
    

    
    


<!-- BODY / FOOTER (fin) -->
<!-- --------------------------------------------- -->

</main>


<%- include('./partials/footer')%>
   
</body>
</html>
    

