<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %>

<body>

<%- include('./partials/header')%>

    <main>

        
<!-- 
OBS: En este archivo listaremos los items que disponemos, ej
        (crear item)
zapatilla 1 ....... edit / borrar
zapatilla 2 ....... edit / borrar
-->

<!--id: 1,
    codigo: "PU_374915",
    marca: "Puma",
    nombre: "Suede Classic XXI",
    precio: 14999,
    fecha_inicio: 03/01/2022,
    descripcion: "Mostrá tu estilo clásico y urbano con las Zapatillas Puma Suede Classic XXI su diseño emblemático desde 1968 y que son recordadas por varias generaciones icónicas, su capellada en gamuza te da un look sofisticado, su entresuela y suela de goma te dará pisadas amortiguadas y con mejor reacción en cualquier superficie. Además, la etiqueta puma archive en la lengüeta le da un toque moderno para que las combines con tus outfits preferidos.",
    categoria: "zapatillas",
    genero: "Hombre",
    origen: "Importado",
    ref: "https://www.moov.com.ar/zapatillas-puma-suede-classic-xxi/PU_374915%2F01.html"
    -->
    
    
    <!--FIN FORMULARIO DE CREACIÓN-->          

    </main>

    <%- include('./partials/footer')%>

</body>
</html>