<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header')%>
    <main>
       <section class="cart-header">
           <h1>Tu carrito</h1>
           <a href="/">Continuar comprando</a>
       </section>
        <section class="cart-page">
            <div class="main-content">
                <figure class="product-details"> 
                    <div class="cart-image">
                        <a href="#">
                            <img src="images/PU_388571-01-1.jpeg" alt="Zapatilla Puma">
                        </a>
                    </div>
                    <figcaption class="cart-item">
                        <a class="CartItem-Heading" href="/productDetail">Zapatilla Puma</a>
                        <ul class="CartItem-Options">
                            <li class="CartItem-Option">
                                <span> Color: </span>
                                <span> Blanco </span>
                            </li>
                            <li class="CartItem-Option">
                                <span> Talle: </span>
                                <span> 37 </span>
                            </li>
                            <li class="CartItem-Option">
                                <span> Art.: </span>
                                <span> 534175_24 </span>
                            </li>
                        </ul>
                        <div class="CartItem-Info">
                            <div class="CartItem-Qty">
                                <label for="cantidad">Cantidad</label>
                                <select name="cantidad" id="cantidad">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <div  class="ProductPrice">
                                <span >
                                    <data value="13999.00">$ 13999.00</data>
                                </span>
                            </div>
                        </div>
                        <div class="CartItem-Actions">
                            <button id="RemoveItem" name="RemoveItem" class="CartItem-Delete">
                                <span>Eliminar Producto</span>
                            </button>
                        </div>
                    </figcaption>
                </figure>
                <div class="resumen">
                    <article>
                        <h4>Resumen</h4>
                        <dl class="subtotal">
                            <dt>Subtotal:</dt>
                            <dd>$13.999</dd>
                        </dl>
                        <dl class="total">
                            <dt>Total del pedido:</dt>
                            <dd>$13.999</dd>
                        </dl>
                        <div class="DiscountCode">
                            <form class="CartCoupon">
                                <div class="FieldInput">
                                    <label for="couponCode" class="FieldInput-Label">Código promocional:</label>
                                    <input id="couponCode" name="couponCode"  class="FieldInput-Input" value="" placeholder="Ingrese código">
                                </div>
                            </form>
                        </div>
                        <div class="checkout-button">
                            Proceder al pago
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <section>
            <h2>Recomendados para vos</h2>
            <div class="recomendados">
                <div class="imagen_texto">
                    <div class="imagen">
                        <img src="images/aviator.png" alt="Zapatillas Electrify Nitro Turn"><i class="fas fa-heart"></i>
                    </div>
                    <hr>
                    <div class="texto">Zapatillas Electrify Nitro Turn<br><br><h4>$19.999</h4> </div>
                </div>
                <div class="imagen_texto">
                    <div class="imagen">
                        <img src="images/electrify.png" alt="Zapatillas Aviator"><i class="fas fa-heart"></i>
                    </div>
                    <hr>
                    <div class="texto">Zapatillas Aviator <br><br><h4>$16.499</h4> </div>
                </div>
                <div class="imagen_texto">
                    <div class="imagen">
                        <img src="images/suede.png" alt="Zapatillas Wild Rider Vintage"><i class="fas fa-heart"></i>
                    </div>
                    <hr>
                    <div class="texto">Zapatillas Wild Rider Vintage <br><br><h4>$18.699</h4> </div>
                </div>
                <div class="imagen_texto">
                    <div class="imagen">
                        <img src="images/wildrider.png" alt="Zapatillas Suede Classic XXI"><i class="fas fa-heart"></i>
                    </div>
                    <hr>
                    <div class="texto">Zapatillas Suede Classic XXI <br><br><h4>$14.999</h4> </div>
                </div> 
            </div>
        </section>
    </main>

    <%- include('./partials/footer')%>

</body>
</html>




