/*

 ██████ ███████ ███████     ██████   ██████  ██████  ██    ██ 
██      ██      ██          ██   ██ ██    ██ ██   ██  ██  ██  
██      ███████ ███████     ██████  ██    ██ ██   ██   ████   
██           ██      ██     ██   ██ ██    ██ ██   ██    ██    
 ██████ ███████ ███████     ██████   ██████  ██████     ██                                                        
                                                                                                                                                          
text to ascii...    
https://patorjk.com/software/taag/#p=display&f=ANSI%20Regular&t=cssHeader

negro:  	#181818
celeste:	#21D2FE
violeta:	#A334FF
verde:		#61A951
salmon
tomato
*/

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 /* GOOGLE FONTS :: ROBOTO
 Se debe aplicar aqui con @import y tambien en el body */
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;    
    font-size: 16px;
    text-align: center;
    /* para footer responsive 
       (se aplica en body + footer)
       https://dev.to/nehalahmadkhan/how-to-make-footer-stick-to-bottom-of-web-page-3i14
    */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

/* Links // enlaces sin estilos */
a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
