
/* CSS FORGETPW*/

#caja-forgetpw{
    margin-top:60px;;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#caja-forgetpw h1{
    margin-top: 30px;
    margin-bottom: 15px;
}

#indicaciones-forgetpw{
    margin: 25px;
}

.cajitafpw{
    width: 40%;
    max-width: 300px;
    height: 30px;
    border-radius: 6px;
}

.cajitafpw:hover{
    border-color: grey;
}

.b-enviarcor{
    margin: 30px;
    width: 20%;
    height: 30px;
    border-radius:20px ;
    border: 1px solid black;
    background-image:linear-gradient(to bottom right,rgb(151, 65, 151),rgb(194, 242, 105));
}

.b-enviarcor:hover{
    color: darkblue;
}

.t-enviarcor{
    color:white;
    font-weight: bold;
}
