
/* CSS LOGIN*/



.todo{
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-bottom: 50px;
}

.todo input {

    height: 40px;
    padding: 10px;

}

.mainLogin h1{
    margin-top: 30px;
}

.login_register{
    margin-bottom: 40px;
}

.asterisco{
    color: salmon;
}

.emailycontra{
    margin-top:20px;
    margin-bottom: 8px;
    color: #666666;
}

.cajita{
    border-radius: 3px;
    margin: auto;
    width: 100%;
}

.cajita:hover{
    border-color: grey;
}
/* 
.ojo{
    color: white;
    border:#666666;
   
}

.botonojo{
    width:7%;
    margin-left: 48%;
    background-color:black;
    border-radius: 8px;;
}

.checkbox{
    margin-top:20px;
    margin-bottom: 8px;
}

.olvidastecontra{
    margin-top:15px;
    margin-bottom: 8px;
}
 */

.boton-inicio{
    width: 100%;
    background-color: #000;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    height: 50px;
    line-height: 40px;
    max-width: 400px;
    margin: auto;
    transition: all 1s;
    margin-top: 30px;
    border: none;

}

.boton-inicio:hover{
    background-color: #A334FF;
    cursor: pointer;
}
/* 
.resaltacolor:hover {
    color: darkblue;
} */

/*
FORMULARIO NUEVAS CORRECCIONES 
*/

.inline { 
    display: inline-block; 
    border-bottom: 2px solid #A334FF; 
    width: 190px;
}
.mainLogin label {
    display:block;
    text-align: left;
}
.mainLogin input[type=checkbox], input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    
}
.mainLogin textarea:focus, input:focus{
    outline: none;
}
.recordar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
