*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    
}

div h1, h2{
    text-align: center;
    font-size: 25px;
    text-shadow: 1px 2px 2px seashell, 0 0 25px seashell;
    
}

 
div.galeria:hover{
    transform: rotate(-2deg);
}


.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    gap: 7%;
    justify-content: center;
    
    
    
}


.producto {
    width: 40%;
    
}




.producto:hover .descripcion {
    opacity: 100%;
}

.producto img {
    margin: 0px;
    border-radius: 15%;
}

/*Detalles de producto*/

.descripcion {
   font-size: 1.5rem;
   font-family: sans-serif;
   margin-bottom: 0px; 
   text-align: center;
   
}

.producto {
   margin-bottom: 15px;
   display: inline-block;
   width: 200px;
   left: 200px;
   margin: 10px;
   padding: 5px 5px;
   background-image: linear-gradient(to right, #ACCAD4 , #FF8499);
   border-radius: 30px;
   
  
}

.colorhr{
    background-color: red;}


    
    .degrade {
      height: 40px;
      width: 100%;
      max-width: 1200px;
      margin: auto;
      margin-bottom: 40px;
      background-color: #ACCAD4; /* For browsers that do not support gradients */
      background-image: linear-gradient(to right, #ACCAD4 , #FF8499);
      
    /* fuente... 
    https://www.w3schools.com/css/tryit.asp?filename=trycss3_gradient-linear_ltr
    */
    }

