
/* 
REGISTER
--------------------------------------------- 
*/


.mainRegister label {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mainRegister form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    width: 70% ;
    margin-left: 15%;
    }

.mainRegister input{
    margin-bottom: 20px;
    padding: 10px;
    height: 35px;
    border-radius: 5px;
    
}

/* #tipo {
    width: 25%;
}

#numero{
    width: 65%;
}

.tipoynum{
    display: flex;
    justify-content: space-between;
}

.intereses {
    display: flex;
    border-bottom: solid #181818 1px;
    justify-content: space-between;
    margin-bottom: 5px;
} */

#politicas {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: dashed grey 1px;
    padding-bottom: 5px;
}

#promociones {
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 5px;
}

#crearcuenta {
    background-color: black;
    border-radius: 5px;
    border: black;
    padding: 5px;
    margin-bottom: 10px;
    font-weight: bold; 
}

#botonenvio {
    color: white;
}

.nombre{
    margin-top:20px;
    margin-bottom: 8px;
    color: #666666;
    
}



/* 
a {
    text-decoration: none;
}
 */




/* MEDIA 768 PX 
Navegación en desktop
-------------------------------- */
@media (min-width: 768px) {

    
    .mainheader_left nav{
        display: block;
    }

    .mainheader_right form{
        display: block;
        position: relative;
        display: inline-flex;
    }

    .todoslosforms {
        display: flex;
        justify-content: space-between;

        color:red ;
        
    }

    .datospersona{
        width: 45%;
        margin-top:35px;
        margin-bottom: 10px;
        color:rgb(0, 0, 0); 
    }

   

    .cajita{
        border-radius: 3px;
        margin: auto;
        width: 100%;
    }



    .datoscuenta {
        width: 45%;
    }

    
}
