
/* CSS LOGIN*/


.mainLogin a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.todo{
    text-align:center;
    font-family: 'Roboto', sans-serif;
}

.firstis{
    margin-top: 30px;
}
.asterisco{
    color: salmon;
}

.emailycontra{
    margin-top:20px;
    margin-bottom: 8px;
    color: #666666;
}

.cajita{
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 6px;
}

.cajita:hover{
    border-color: grey;
}

.ojo{
    color: white;
    border:#666666;
   
}

.botonojo{
    width:7%;
    margin-left: 48%;
    background-color:black;
    border-radius: 8px;;
}

.checkbox{
    margin-top:20px;
    margin-bottom: 8px;
}

.olvidastecontra{
    margin-top:15px;
    margin-bottom: 8px;
}

.boton-inicio{
    margin-top:15px;
    margin-bottom: 8px;
    border-radius: 25px;
    width: 60%;
    height: 50px;
    background-image:linear-gradient(to bottom right,rgb(151, 65, 151),rgb(194, 242, 105));
    border: 1px solid black;
}

.texto-boton{
    font-size: 20px;
    color: white;
}

.resaltacolor:hover {
    color: darkblue;
}
